[alias]
pull-all = "!f() { \
  repo=$(basename \"$(git rev-parse --show-toplevel)\"); \
  git pull | sed \"s/^Already up to date\\./[$repo] Already up to date./\"; \
  cd ../universalproto || exit 1; \
  repo=$(basename \"$(git rev-parse --show-toplevel)\"); \
  git pull | sed \"s/^Already up to date\\./[$repo] Already up to date./\"; \
  cd - >/dev/null; \
}; f"